__pycache__/*
logs/*
models/*
vods/*
tree_dataset/*
tree_sentinel.mp4
saved_runs/*
tree_dataset.json
parries/*
parry_detector/*
log.txt
lowest_boss_hp.txt
tmp.wav
obs_log.txt
templogs/*
twitch_creds.json
obs_timer.txt
status.txt
tmp.wav
twitchbot_log.txt